<%= form_with(model: task, class: "bg-white shadow-md rounded-lg p-6 mb-8 max-w-md mx-auto") do |form| %>
  <% if task.errors.any? %>
    <div class="text-red-500">
      <h2><%= pluralize(task.errors.count, "error") %> prohibited this task from being saved:</h2>

      <ul>
        <% task.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-4">
    <%= form.label :title, "Görev", class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.text_field :title, class: "shadow appearance-none border rounded w-full py-2 px-3 text-gray-700 leading-tight focus:outline-none focus:shadow-outline" %>
  </div>

  <div class="mb-4">
    <%= form.label :completed, "Tamamlandı", class: "block text-gray-700 text-sm font-bold mb-2" %>
    <%= form.check_box :completed, class: "form-checkbox h-5 w-5 text-blue-600" %>
  </div>

  <div class="flex items-center justify-between">
    <%= form.submit "Kaydet", class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded focus:outline-none focus:shadow-outline" %>
  </div>
<% end %>

<div class="text-center mt-4">
  <%= link_to "Geri dön", tasks_path, class: "bg-blue-500 hover:bg-blue-700 text-white font-bold py-2 px-4 rounded" %>
</div>
